h1{
    text-align: center;
    padding-top: 30px;
    color: grey;
}
.images{
    display: flex;
}
.todo-logo{
    padding-left: 20px;
    height: 490px;
}
.to-do img{
    width: 100%;
    height:500px;
    padding: 10px;
}
.btn1{
    margin-left: 50px;
}
.logo1 img{
    height: 250px;
    width: 300px;
    padding-left: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.card-title{
    text-align: center;
}
