@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins','sans-serif';
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(-45deg, #ffffff, #e5ceff, #ffffff, #9fff98);
	background-size: 800% 800%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
    text-align: left;
    margin: 0;
    padding: 0 1.2em 0 1.2em;
}

.image_b{
    width: 60px;
    height: 60px;
    border-radius: 15%;
    box-shadow: 0 0 1rem 0 rgb(123, 123, 123);
}

.containerCorousel {
    width: 60%;
    display: grid;
    display: flex;
    margin-left: 15px;
    margin-bottom: 15px;
    }

    .card {
    display: flex;
    min-height: 440px;
    min-width: 180px;
    background-color: #383838;
    border-radius: 40px;
    box-shadow: -1rem 0 4rem -2rem rgb(0, 0, 0);
     /*margin-left: -150px;*/
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    }
    
    .card:not(:first-child) {
    margin-left: -150px;
    }
    
    .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
    }
    
    .card:hover ~ .card {
    position: relative;
    left: 170px;
    transition: 0.4s ease-out;
    }
    
p{
    font-size: 1.0em;
}


/* App Details List*/

.section-heading {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid;
    padding-top: 0;
    margin: 2em 0 2em 0;
}
.section-heading h2 {
    margin: 0px;
    display: inline;
}

.app {
    display: grid;
    align-items: center;
    grid-template-columns: minmax(0, 1fr);
}

.app-title {
    display: flex;
    align-items: center;
}

.app-title h2 {
    padding-left: 10px;
}

.app-details {
    margin: 0;
    padding: 0;
    text-align: justify;
}
.app-details-heading {
    text-align: justify;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

ul.blue-bullet-list {
    padding: 0;
    margin: 0 0 1em -1em;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

li.blue-bullet-item {
    background: url('../images/blue-bullet.svg') no-repeat left 8px;
    margin-left: 1em;
    padding-left: 1em;
}

ul.green-bullet-list {
    padding: 0;
    margin: 0 0 1em -1em;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

li.green-bullet-item {
    background: url('../images/green-bullet.svg') no-repeat left 8px;
    margin-left: 1em;
    padding-left: 1em;
}

ul.orange-bullet-list {
    padding: 0;
    margin: 0 0 1em -1em;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

li.orange-bullet-item {
    background: url('../images/orange-bullet.svg') no-repeat left 8px;
    margin-left: 1em;
    padding-left: 1em;
}

ul.github-appstore li {
    display: inline;
    list-style: none;
    margin: 0 -3em;
    padding: 0 7em 0 0;
    font-size: 0.6em;
}

a.github-appstore {
    text-decoration: none;
}

/* Responsive */
@media only screen and (min-width: 570px) {

    .show-desktop {
        display: inline-block;
        margin: 0 auto 0 auto;
    }

    .hide-desktop {
        display: none;
    }

    .mobile-menu, .mobile-menu-exit {
        display: none;
    }

    nav ul {
        position: inherit;
        width: auto;
        background-color: inherit;
        height: auto;
        display: flex;
        padding: 0;
        margin: 0;
    }

    nav li {
        float: left;
        font-size: 0.6em;
    }

    nav ul li a {
        color: black;
        background-color: inherit;
        padding: 1em 2em;
    }

    nav ul li a:hover {
        background-color: inherit;
    }

    .app {
        display: grid;
        align-items:center;
        grid-template-columns: minmax(0, 1fr);
    }

}

@media only screen and (min-width:950px) {
    .cta-section {
        width: 70%;
    }
    .app {
        display: grid;
        grid-template-areas: "app-details screens";
        align-items:flex-start;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        margin-bottom: 2em;
    }

    .app-details {
        margin: 0;
        padding: 0;
        grid-area: app-details;
        text-align: justify;
    }
    

    .show-desktop {
        display: inline-block;
        margin: 0 auto 0 auto;
    }

    .hide-desktop {
        display: none;
    }

    nav ul {
        position: inherit;
        width: auto;
        background-color: none;
        height: auto;
        display: flex;
        padding-top: 0;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        color: black;
        background-color: inherit;
        padding: 1em 2em;
    }

    nav ul li a:hover {
        background-color: inherit;
    }

}

@media only screen and (min-width:1024px) {
    .container {
        width: 1024px;
        text-align: left;
        margin: 0 auto;
        padding: 0 1.5em 0 1.5em;
    }

    .cta-section {
        width: 60%;
    }


    nav ul {
        position: inherit;
        width: auto;
        background-color: none;
        height: auto;
        display: flex;
        padding-top: 0;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        float: right;
        color: black;
        background-color: inherit;
        padding: 1em 2em;
    }

    nav ul li a:hover {
        background-color: inherit;
    }

    .app {
        display: grid;
        grid-template-areas: "app-details screens";
        align-items:flex-start;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        margin-bottom: 2em;
    }

    .app-details {
        margin: 0;
        padding: 0;
        grid-area: app-details;
        text-align: justify;
    }

}

@media only screen and (min-width:1300px) {
    .container {
        width: 1300px;
        text-align: left;
        margin: 0 auto;
        padding: 0;
    }

    .app {
        display: grid;
        grid-template-areas: "app-details screens";
        align-items:flex-start;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        margin-bottom: 2em;
    }

    .app-details {
        margin: 0;
        padding: 0;
        grid-area: app-details;
        text-align: justify;
    }
}


